{% extends 'base.html.twig' %}

{% block title %}Mon Profil
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/pages/dashboard/profilAdmin.css') }}">


{% endblock %}

{% block body %}
<!--=============START MAIN============-->
	<main class="container-fluide">
		<div class="row">
			<!-- Sidebar -->
			{% block Sidebar %}
				{% include 'partials/sidebar/_sidebar_admin.html.twig' %}
			{% endblock %}
			
			<!-- Main Dashboard -->
			{% block Main %}{% endblock %}

		</div>
	</main>

{% endblock %}
