{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Mon Profil</h1>
    <p>Cette page est en cours de construction</p>
</div>
{% endblock %}