/* Responsive */
@media (max-width: 768px) {
  
  .search-bar .row > div {
      margin-bottom: 10px;
  }
  .concept-img-top {
    width: 10em;

  }
  .concept-body {
    width: 100%;
    min-height: 410px;
  }

  .vehicle-card {
    font-size: 0.9rem;
  }

  .vehicle-card .badge {
      font-size: 0.8rem;
  }

  .vehicle-card .btn-sm {
      padding: 0.25rem 0.5rem;
      font-size: 0.75rem;
  }
    
}
@media (min-width: 768px) {
  .search {
    padding-top: 280px;
  }
}

@media (min-width: 1199px) and (max-width: 1399px) {
  .concept-text{
    font-size: 14px;
  }
}
@media (min-width: 1400px) {
  .concept-text{
    font-size: 15px;
  }
}