/* Responsive */
@media (max-width: 768px) {
  
  .search-bar .row > div {
      margin-bottom: 10px;
  }
  .concept-img-top {
    width: 10em;

  }
  .concept-body {
    width: 100%;
    min-height: 410px;

  }
  
  
}
@media (min-width: 768px) {
  .search {
    padding-top: 280px;
  }
}