/*-------------Sections-------------*/

/*Section Search*/
.search {
  width: 100%;
  height: 350px;
  background-color: #313A50;
  padding-top: 135px;
}

/* Container de la barre de recherche */
.search-container {
  padding: 20px 20px;
}

.search-bar {
  background: #F3F3F3;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

/* Style des inputs */
.search-input {
  position: relative;
  padding: 8px;
}

.search-input i {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #4DBC84;
  z-index: 1;
}

.search-input .form-control {
  padding: 12px 12px 12px 40px;
  border: 1px solid #F3F3F3;
  border-radius: 4px;
}

.search-input .form-control:focus {
  box-shadow: none;
  border-color: #4DBC84;
}

/* Style du bouton de recherche */
.btn-search {
  background-color: #4DBC84;
  color: #F3F3F3;
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.btn-search:hover {
  background-color: #3f7b6a;
  color: #F3F3F3;
}

/*Section Cards*/
.concept{
  width: 100%;
  padding-top: 120px;
}
.concept-container {
  padding: 20px 20px;
  text-align: center;
}
.concept-img-top {
  width: 8em;
  margin-bottom: 15px;
}

.economy {
  width: 100%;
  min-height: 400px;
  background-color: #313A50;
  border-radius: 10px;
  color: #F3F3F3;
  margin-bottom: 50px;
}
.ecology {
  width: 100%;
  min-height: 400px;
  background-color: #4DBC84;
  border-radius: 10px;
  color: #F3F3F3;
  margin-bottom: 50px;
}
.convivial {
  width: 100%;
  min-height: 400px;
  background-color: #3f7b6a;
  border-radius: 10px;
  color: #F3F3F3;
  margin-bottom: 50px;
}