###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/.env.prod
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> IDE ###
.idea/
.vscode/
###< IDE ###

###> Fichier système ###
.DS_Store
###< Fichier système ###