.profil {
  padding-top: 140px;

}
.profil-admin {
  padding-top: 110px;

}
.sidebar {
  background-color: #4DBC84;
}
.rounded-circle {

  border-radius: 3px solid #4DBC84;
  width: 80px;
}

.role-switch {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/*Switch bouton profilUser*/
.switch-container {
  position: relative;
  width: 300px;
  height: 50px;
  border-radius: 15px;
  overflow: visible; 
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  background-color: #313A50;
  border: 3px solid #313A50;
  z-index: 1;
}

.switch-options {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 3;
  overflow: hidden;
}

.option {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  transition: color 0.3s;
  position: relative;
  overflow: hidden;
  gap: 10px;
}


/* Background avec effet de transition*/
.bg-conducteur, .bg-passager {
  position: absolute;
  width: 50%;
  height: 100%;
  z-index: 2;
  opacity: 0;
  border-radius: 12px;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.bg-conducteur {
  background-color: #4DBC84; 
  transform: translateX(100%);
}

.bg-passager {
  right: 0px;
  background-color: #4DBC84;
  transform: translateX(-100%);
}

/* Styles pour l'option active et inactive */
.option-active {
  color: #f3f3f3;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  z-index: 4;
}

/* Styles spécifiques quand pas actif */
.conducteur-active .option-passager, .passager-active .option-conducteur {
  color: #f3f3f3;
}


/* Active backgrounds */
.conducteur-active .bg-conducteur, .passager-active .bg-passager {
  transform: translateX(0);
  opacity: 1;
}