.sidebar {
  padding-top: 110px;
  background-color: #4DBC84;
}

.card {
  border: 1px solid #3f7b6a8e;
}

.text-title {
  font-family: 'PoppinsR';
  color: #4DBC84;
  font-size: 18px;
  font-weight: bold;
}

.btn.btn-blue {
  color: #313A50;
  background-color: #f3f3f3;
  border: 2px solid #313A50;
}

.btn.btn-blue:hover {
  color: #f3f3f3;
  background-color: #313A50;
}
.btn.btn-green {
  color: #3F7B6A;
  background-color: #f3f3f3;
  border: 2px solid #3F7B6A;
  transition: opacity 0.3s ease;
}
.btn.btn-green:hover {
  color: #f3f3f3;
  background-color: #3F7B6A;
}

@media (min-width: 768px) {
  .profil-admin {
    padding-top: 120px;
  }
  .sidebar {
    min-height: 87vh;
  }
}