<!--=============START HEADER STAFF============-->

<div class="col-md-3 mb-5">
	<div class="card">
		<div class="card-body text-center">
			<h5 class="card-title">{{ user.firstname }} {{ user.name }}</h5>
			<p class="card-text text-muted">Employé EcoRide</p>
			<hr>
			<div class="d-grid gap-2">
				<button id="btn-reviews" class="btn btn-outline-primary btn-toggle-section active mb-2" onclick="loadSection('reviews')">
					<i class="fas fa-comments me-2"></i>Modération des avis
				</button>
				<button id="btn-reports" class="btn btn-outline-warning btn-toggle-section mb-2" onclick="loadSection('reports')">
					<i class="fas fa-exclamation-triangle me-2"></i>Les signalements
				</button>
			</div>
		</div>
	</div>
</div>

